body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
  /* padding: 0 15px 0 15px; */
  margin-right: 76px;
}

.section-header .container {
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

header .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-header {
  display: flex;
  align-items: center;
}

.address-list .container {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
}

.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.title-hero {
  display: block;
  align-items: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 496px;
}

.button-hero {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.section-studio {
  padding: 120px 0;
}

.studio-list {
  display: flex;
  gap: 24px;
}

.studio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.studio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.studio-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-photo {
  object-fit: cover;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-photo-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  display: flex;
  justify-content: center;
}

.div-team {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

/* ======== Portfolio =========== */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-photo {
  display: block;
}

.portfolio-photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  /* padding-left: 16px; */
}

.div-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 360px;
}

.portfolio-photo-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*  =========== Fotter =========== */

.section-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

footer .logo-part {
  color: #f4f4fd;
  line-height: 1.17;
}

footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  max-width: 264px;
}
